---
title: "LaraJobs Newsletter"
preheader: "Larajob's Weekly Digest"
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-gray-100">
          <table class="w-150 sm:w-full">
            <tr>
              <td class="p-12 sm:py-8 sm:px-6 text-center">
                <a href="https://larajobs.com">
                  <img src="https://larajobs.com/img/logo.svg" width="250" alt="LaraJobs">
                </a>
              </td>
            </tr>
            <tr>
              <td align="center" class="sm:px-6">
                <table class="w-full mb-4 shadow-xl rounded">
                  <tr>
                    <td class="bg-white p-5 rounded-br rounded-bl">
                      <h2 class="mt-2 mb-3 text-2xl leading-full font-extrabold text-black text-center">
                        This week's new jobs
                      </h2>

                      <table>
                        <td class="bg-white p-5 rounded-br rounded-bl">
                          <hr class="border-0 bg-gray-200 text-gray-500 h-px">
                          <div>
                            <table class="w-[600px] sm:w-full">
                              <tr>
                                <td class="w-[100px] text-center" align="center">
                                  <img class="h-10 w-10 rounded" src="https://larajobs.com/storage/logos/8uFpZKxqwYJFi9ZAuBLhkCU2TKoHSsAe0i48Tjak.png">
                                </td>
                                <td class="w-[500px]">
                                  <p class="text-md text-gray-500 truncate mt-2 mb-1">
                                    Laravel Inc.
                                  </p>
                                  <h3 class="text-lg m-0">
                                    <a
                                      href="https://github.com/michael-rubel/laravel-model-mapper"
                                      class="font-semibold leading-full text-black no-underline hover:underline"
                                    >
                                      Senior Laravel Developer
                                    </a>
                                  </h3>
                                  <p class="text-md text-gray-500 truncate mt-1">
                                    Full Time - $125k - Remote USA
                                  </p>
                                </td>
                              </tr>
                            </table>
                          </div>
                          <hr class="border-0 bg-gray-200 text-gray-500 h-px">
                          <div class="">
                            <table class="w-[600px] sm:w-full mt-2">
                              <tr>
                                <td class="w-[100px] text-center" align="center">
                                  <img class="h-10 w-10 rounded" src="https://larajobs.com/storage/logos/04a70NErjfzNmw4l0QJSrPs9ME1GLWjkUWGEsIoc.jpg">
                                </td>
                                <td class="w-[500px]">
                                  <p class="text-md text-gray-500 truncate mt-2 mb-1">
                                    Chicago Botanic Garden
                                  </p>
                                  <h3 class="text-lg m-0">
                                    <a
                                      href="https://github.com/michael-rubel/laravel-model-mapper"
                                      class="font-semibold leading-full text-black no-underline hover:underline"
                                    >
                                      Principal Web Applications Developer
                                    </a>
                                  </h3>
                                  <p class="text-md text-gray-500 truncate mt-1">
                                    (partially remote or remote possible; Central time zone)
                                  </p>
                                </td>
                              </tr>
                            </table>
                          </div>
                          <hr class="border-0 bg-gray-200 text-gray-500 h-px">

                        </td>
                      </table>
                    </td>
                  </tr>
                </table>


                <div class="leading-16" role="separator">&zwnj;</div>


                <table class="w-full mb-7">
                  <tr>
                    <td class="text-center text-gray-600 text-xs px-6">
                      <p class="m-0 mb-1">
                        You're receiving this because you subscribed to the LaraJobs newsletter.
                      </p>
                      <p class="m-0 mb-1">
                        <preferences>Edit your subscription</preferences> | <unsubscribe>Unsubscribe instantly</unsubscribe>
                      </p>

                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
